@media screen and (min-width: 700px) {
  #menu {
    display: none;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  .navigation a {
    min-width: 100px;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}