@media screen and (min-width:700px){

nav{
flex-direction:row;
justify-content:center;
gap:2rem;
}

#menu{
display:none;
}

.gallery{
grid-template-columns:repeat(3,1fr);
}

main{
max-width:900px;
margin:auto;
}

}